.totalPurchase--container{
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
}

.form--container{
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background-color: white;
}

.form-group{
    font-size: 15px;
    font-weight: 700;
}
